

body {
    margin: 0;
    background-image: url(panzer-background-15.png);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size: 100%;
}

head {
}

.first-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #292828;
    
}

.button {
    text-decoration: none;
    outline: none;
    display: inline-block;  
    padding: 11px 33px;
    position: relative;
    overflow: hidden;
    border-left: 2px solid #fe6637;
    border-bottom: 0px;
    border-top: 0px; 
    color: #fe6637; 
    

}

.button:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
}

.button:hover {
    background: #fe6637;
    color: #fff;
}

.button:hover:before {
    left: 150px;
    transition: .6s ease-in-out;
}

.button:last-child {
    border-right: 2px solid #fe6637;
}